@* @section Categories
{
    @await Component.InvokeAsync("Category")
} *@
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-wvfXpqpzzd9s5eFvAtCf+R5d6lsTLhRoXYsTe+QzttZ9DIi6D1O4Q1bS6bz4j6P9" crossorigin="anonymous"></script>
</head>

<div class="card mb-3">
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="~/img/@Model.ImageUrl" class="card-img">
            </div>
            <div class="col-md-9">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">
                    <i class="fas fa-lira-sign">@Model.Price</i>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
.navbar
{
    background-color: rgb(255, 255, 255);
}
.nav-link
{
    color: black;
    font-size: large;
    font-weight: bold;
}
.navbar-nav
{
    margin-right: 50px;
}
.nav-link:hover
{
    color:#A74E0A;
}
.logo 
{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.logo-container 
{
    display: flex;
    align-items: center;
}
.brand 
{
    font-size: 1.5rem;
    margin: 0;
    color:#A74E0A;
    font-weight: bolder;
}
.input-box 
{
    position: relative;
    height: 50px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 0px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
    color:#A74E0A;
}
.input-box input 
{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.lead
{
    font-size: larger;
    /* color:#6E361B; */
    color:#FAD67B;
    font-weight: bolder;
}
.dropdown-menu 
{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
}
.dropdown-item 
{
    color: #212529;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
}
.dropdown-item:hover 
{
    background-color: #e9ecef;
    color:#A74E0A;
}
.nav-item:hover .dropdown-menu 
{
    display: block;
}
</style> 