@using TravelProject.Models;
@model ProductListViewModel

@{
    var products = Model.Product;
}
@section Categories
{
    @await Component.InvokeAsync("Category")
}
<div class="row">
    @foreach (var product in products)
    {
        <div class="col-md-3">
            @await Html.PartialAsync("~/Views/Shared/_productcard.cshtml",product)
        </div>
    }
</div>


<style>
.navbar
{
    background-color: rgb(255, 255, 255);
}
.nav-link
{
    color: black;
    font-size: large;
    font-weight: bold;
}
.navbar-nav
{
    margin-right: 50px;
}
.nav-link:hover
{
    color:#A74E0A;
}
.logo 
{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.logo-container 
{
    display: flex;
    align-items: center;
}
.brand 
{
    font-size: 1.5rem;
    margin: 0;
    color:#A74E0A;
    font-weight: bolder;
}
.input-box 
{
    position: relative;
    height: 50px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 0px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
    color:#A74E0A;
}
.input-box input 
{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.lead
{
    font-size: larger;
    /* color:#6E361B; */
    color:#FAD67B;
    font-weight: bolder;
}
.dropdown-menu 
{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
}
.dropdown-item 
{
    color: #212529;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
}
.dropdown-item:hover 
{
    background-color: #e9ecef;
    color:#A74E0A;
}
.nav-item:hover .dropdown-menu 
{
    display: block;
}
</style> 
