@model List<City>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"></link>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="container text-center my-3">
    <h2 class="font-weight-light">POPÜLER ŞEHİRLER</h2>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card">
          <img src="~/img/slider_prag.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PRAG</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_milano.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MİLANO</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_roma.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ROMA</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card">
          <img src="~/img/slider_berlin.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BERLİN</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_budapeşte.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BUDAPEŞTE</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_viyana.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">VİYANA</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card">
          <img src="~/img/slider_kapadokya.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NEVŞEHİR</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_cumalıkızık.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BURSA</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_yedigoller.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BOLU</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card">
          <img src="~/img/slider_odunpazarı.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ESKİŞEHİR</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_iğneada.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">KIRKLARELİ</h5>
          </div>
        </div>
        <div class="card">
          <img src="~/img/slider_pamukkale.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PAMUKKALE</h5>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


  <style>
    .card img
    {
        width: 350px;
        height: 200px;
    }
    .card
    {
        width: 350px;
    }

    .carousel-control-next {
      padding-left: 150px;
  }
  
  .carousel-control-prev {
      padding-right: 150px;
  }
  </style>


