<div class="row">
    <div class="col-md-12">
        <div class="title">
            <h4 class="mt-3">Gezmedik Yer Bırakma!</h4>
        </div>
    <div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/img/about.jpg" class="aboutimg"/>
        <p class="expression"><q>Bir seyehat kaç kilometre yol gittiğin değil, kaç arkadaş edindiğinle ölçülür.</q>-Tim Cahill</p>
        <p class="text">
            İnsanoğlunun yegâne toprak parçası olan dünya; keşfedilecek ve gezilecek birçok güzel beldeyi, kenti ve ülkeyi bünyesinde barındırmaktadır. 
            Fakat dünyada var olan ülkeler arasında, gerek tarihi ile gerekse tabii dokusuyla dikkat çekmekte olan ülkemizin birbirinden müstesna olan kentleri, ilçeleri ve beldeleri hakikaten görülmeye değerdir. 
            Bu noktadan hareket etmekte olan internet sitemiz 2017 yılından beri yayında olarak ülkemizin bütün bu güzelliklerini gezi tutkunlarına sunmaktadır.
            Gezmenin bir ayrıcalık değil yaşamsal bir hak olduğunu bildiğimizden dolayı ülkemizin içerisinde yer alan bütün kentleri, ilçeleri ve beldeleri sizin ayağınıza getirmekteyiz. 
            İnternetin yaygınlaşmasıyla beraber giderek artmakta olan tatil planlarının daha kaliteli ve çeşitli şekillerde yapılmasına olanak tanımakta olan sitemiz bu noktada büyük bir boşluğu doldurmaktadır. 
            Böylece gerek yaz tatilleri ve kış tatilleri gerekse hafta sonları yapacak olduğunuz küçük kaçamaklar için önünüzde binlerce farklı alternatif yer alacaktır.
            Gitmeyi düşündüğünüz bir kent ile ilgili bilgilere birinci ağızdan ve objektif bir şekilde sahip olmak sizin için bulunmaz bir fırsat olacaktır.
            Sitemizde yer alan bütün tanıtım yazıları yapacak olduğunuz tatillerde ve gezilerde rehber niteliğinde olacaktır. 
            Bu sebeple bilgisayardan ve akıllı telefonlardan elinizden düşürmeyeceğiniz gezi yazılarımızla birlikte yeni kentler keşfetmek Türkiye'nin doğal dokusunun muhteşemliğine şahit olmak birbirinden farklı coğrafi yer şekillerini yerinde gözlemlemek sizin için oldukça kolaylaşacaktır.
            Sayfalarımızda bulunan ülkemizin tarihi ve turistik yerlerinin tamamında çok farklı etkinlikler yapma fırsatı da bulunmaktadır. Festivallerden sporlara kültürel aktivitelerden tarihi yerlerin gezilmesine kadar bütün ayrıntılar yer almaktadır. 
            Böylece bir kent, ilçe ile veya belde ile ilgili bilgi sahibi olmak istediğinizde bir taraftan sayfalarımızdaki yazılara göz atıp diğer taraftan görseller eşliğinde sunulmakta olan bilgilendirme notları ile doyurucu detaylara sahip olabileceksiniz.
            Gezi veya tatil planları yapanlar için en güç şey gezilecek olan yere karar vermektir. Bu noktada sayfalarımızda ülkemizi bütün kentler ve beldeler yer aldığı için herhangi bir şekilde sıkıntı yaşamayacaksınız. Gezi planlarının diğer zorluğu ise rehber olmadan bir kente gidildiğinde adeta kaybolmaktır. Üstelik burnumuzun dibinde bulunan müstesna mekânları tatil beldelerini tarihi eserleri bile ıskalayarak kentten ayrılmanız oldukça olasıdır. Bunun önüne geçebilmek için ziyaret etmeyi düşündüğünüz kentle ve ilçeler ile alakalı bütün detaylı bilgiler sayfalarımızda yer almaktadır. Hiçbir ayrıntı atlanmadığından dolayı kentte gezilecek görülecek bütün yerler sizin için bulunacaktır.
            Kentlerimizdeki geçmişten günümüze ışık tutan tarihi yapılar, müzeler, ören yerleri, antik kentler sizin için sayfalarımızda arzı endam ederken dönemsel olan aktiviteler ve faaliyetler de yine ayrıntılı bir şekilde tanıtılmaktadır. Böylece bir kente hangi mevsimde gitmeniz gerektiği hakkında bilgi sahibi olabileceksiniz. Hangi dönemlerde hangi etkinliklerin bulunduğunu birinci ağızdan öğrenerek muhteşem fırsatları kaçırmayacaksınız.
            Diğer taraftan gezmiş olduğunuz beldelerde ne yeneceği, neyin meşhur olduğu, nerelerde kalınabileceği yine sayfalarımızda yer alacaktır. Böylece ülkemizin muhteşem mutfağının müstesna ve lezzetli ürünlerini tadarken harika içeceklerle yorgunluğunuzu atacak ve yeni bir gezi güzergâhı için planlar yapmaya sayfalarımıza göz atarak başlayacaksınız.
        </p>
    </div>
</div>


<style>
.expression
{
    font-size: larger;
    font-weight: bolder;
}
.text
{
    margin-top: 20px;
}
.col-md-12
{
    width: 100%;
    margin:auto;
}
.aboutimg
{
    float:left;
    padding:0 10px 10px 0;
}
.title
{
    margin-bottom: 30px;
}
.navbar
{
    background-color: rgb(255, 255, 255);
}
.nav-link
{
    color: black;
    font-size: large;
    font-weight: bold;
}
.navbar-nav
{
    margin-right: 50px;
}
.nav-link:hover
{
    color:#A74E0A;
}
.logo 
{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.logo-container 
{
    display: flex;
    align-items: center;
}
.brand 
{
    font-size: 1.5rem;
    margin: 0;
    color:#A74E0A;
    font-weight: bolder;
}
.input-box 
{
    position: relative;
    height: 50px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 0px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
    color:#A74E0A;
}
.input-box input 
{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.lead
{
    font-size: larger;
    /* color:#6E361B; */
    color:#FAD67B;
    font-weight: bolder;
}
.dropdown-menu 
{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
}
.dropdown-item 
{
    color: #212529;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
}
.dropdown-item:hover 
{
    background-color: #e9ecef;
    color:#A74E0A;
}
.nav-item:hover .dropdown-menu 
{
    display: block;
}
</style>

